/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/* Welcome Screen */
#welcome-screen {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: url('https://github.com/Srinivas0807/srinivas-portfolio/blob/main/Screenshot%202025-02-14%20161602.png?raw=true') no-repeat center center/cover;
    color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#welcome-screen h1 {
    font-size: 2.5em;
}

#next-button {
    padding: 15px 30px;
    font-size: 18px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
}

#next-button:hover {
    background: #0056b3;
}

/* Hide Main Content Initially */
#main-content {
    visibility: hidden; /* Use visibility instead of display */
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease-out, transform 1s ease-out;
}

#main-content.show {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}


.show {
    display: block !important;
    opacity: 1 !important;
    transform: translateY(0) !important;
}

/* Dark Mode Styles */
body.dark-mode {
    background: #121212;
    color: #ffffff;
}

body.dark-mode header {
    background: #1f1f1f;
}

body.dark-mode .project {
    background: #333;
    color: white;
}
